.body-dark {
  overflow: hidden !important;
  background-color: #252729;
  height: 100vh;

}

.body-light {
  overflow: hidden !important;
  background-color: white;
  height: 100vh;
}

header {
  /* position: fixed; */
  background-color: #202020;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  height: auto;
  z-index: 2 !important;
}

.header-light {
  background-color: white;
  box-shadow: 2px 0 10px 0 #adadad;
  height: auto;
  z-index: 2 !important;
}

.logo {
  width: 140px;
  height: 45px;
}

.searchbu {
  width: 50px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 0px;
}

.searchbar {
  height: 35px;
  border-radius: 0px;
  border-color: gray;
}

.searchbar-light {
  height: 35px;
  border-radius: 0px;
  border-color: gray;
}

.searchbar::placeholder {
  color: white;
  font-weight: bold;
}

.searchbar-light::placeholder {
  color: black;
  font-weight: bold;
}

.avl {
  line-height: 13px;
  padding: 1px 8px;
  justify-content: center;
  margin: 0 auto;
  background-color: green;
  color: white;
  font-size: 12px;
  height: 30px;
  width: 75px;
  border-radius: 4px;
}

.exposure {
  border-radius: 4px;
  line-height: 13px;
  color: white;
  background-color: red;
  padding: 1px 8px;
  justify-content: center;
  margin: 0 auto;
  font-size: 12px;
  height: 30px;
  width: 90px;
}

.account {}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: white; */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: white;
}

input:focus+.slider {
  box-shadow: 0 0 1px black;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border: 2px solid white;
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-dark {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #202020; */
  -webkit-transition: .4s;
  transition: .4s;

}
.slider-dark:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 28px;
  bottom: 4px;
  background-color: #202020;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-dark.round {
  border-radius: 34px;
  border: 2px solid black;
}
input:checked+.slider-dark {
  background-color: white;
}
.slider-dark.round:before {
  border-radius: 50%;
}
.marque {
  float: left;
  padding: 0 3px !important;
  color: #fff !important;
  min-width: 32px;
  display: block;
  line-height: 70px;
  text-align: center;
  max-height: 70px;
  position: relative;
  background-color: black;
  border-radius: 30px;
}

.marque-light {
  float: left;
  padding: 0 3px !important;
  color: black !important;
  min-width: 32px;
  display: block;
  line-height: 70px;
  text-align: center;
  max-height: 70px;
  position: relative;
  background-color: rgb(209, 209, 209);
  border-radius: 30px;
}

.text-red {
  color: red;
}

.sidebar {
  height: 100vh !important;
  background: #1a1a1a !important;
  box-shadow: 0px 0 10px 0 #111111;
}

.sidebar-light {
  height: 100vh !important;
  background: white !important;
  box-shadow: 0px 0 10px 0 #adadad;
}

.bordersm {
  border-top: 1px solid rgb(38, 38, 38) !important;
}
.mainTabs-ul ul{
  border-top: 2px solid #7d0204;
  background: transparent !important;
}
.mainTabs-ul ul li{
  color:white !important;
}
.active{
  background: transparent linear-gradient(180deg, #7d0204 0%, #202020 100%) !important;
}
.active2{
  background: transparent !important;
}
.active3{
  background: #7d0204 !important;
}
.b-radius0{
  border-radius: 0px !important;
}